.cartScreen{
  width: 100%;
}

.boxs{
  width: 70%;
  float: left;
}
.cart_box{
  padding-left: 30px;
  display: flex;
}
.productDetail{
  margin-left: 100px;
  padding-top: 30px;
}

.detailList{
  padding-top: 20px;
}
.menu_box{
  padding-top: 20px;
}

#buyConfirm{
  padding-left: 20px;
}