.errorMessages{
  text-align: center;
  color: red;
  margin-top: 20px;
}

table{
  width: 80%;
  border-spacing: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

table th{
  border-bottom: solid 2px #fb5144;
  padding: 10px 0;
  text-align: center;
}

table td{
  border-bottom: solid 2px #ddd;
}

.txtBox{
  width: 100%;
  height: 100%;
  border: none;
}

.txtBox:focus{
  outline: none;
}

.btnSpace{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.btn-success {
  padding: 0.3em 1em;
  display: inline-block;
  text-decoration: none;
  color: #00BB00;
  border: solid 2px #00BB00;
  border-radius: 3px;
  transition: .4s;
}

.btn-success:hover {
  background: #00BB00;
  color: white;
}