.detail_box{
  width: 60%;
  height: 500px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.productDetail{
  margin-left: 100px;
}

.detailList{
  padding-top: 20px;
}

#delete_no{
  font-size: 25px;
  color: #008000;
}

#delete_yes{
  font-size: 25px;
  color: #FF3300;
}

.a_relatedProduct{
  padding-left: 20px;
}