@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
    color: #333;
    font-size: 1.6rem;
    background-color: #EEEEEE;
}

header{
  height: 100px;
  width: 100%;
  background-color: #00BB00;
  color: white;
  text-align: center;
  line-height: 100px;
}

.container{
  height: 900px;
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.products{
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}

.productImage{
  height: 300px;
  width: 300px;
  margin-left: 10px;
}

footer{
  height: 100px;
  width: 100%;
  color: white;
  line-height: 100px;
  background-color: #444444;
  text-align: center;
}