@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
    color: #333;
    font-size: 1.6rem;
    background-color: #EEEEEE;
}

header{
  height: 100px;
  width: 100%;
  background-color: #00BB00;
  color: white;
}

.menu{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.no_user{
  padding-top: 30px;
  padding-right: 100px;
}
.menu_title{
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
}

.form-keyword{
  padding-left: 30px;
}

#keywordBox{
  border:none;
  border-radius:3px;
  box-shadow: 1px 1px 1px #C0C0C0 inset;
  padding: 2px 8px;
}

#keywordBox:focus{
  outline: none;
}

.menu_user{
  height: 100%;
  padding-right: 100px;
  padding-bottom: 50px;
  width: 200px;
}

.loginname{
  line-height: 50px;
  text-align: center;
}

.login{
  justify-content: space-between;
}

.title_link{
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
}

.a_title{
  text-decoration: none;
  color: white;
  padding-left: 10px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  transition: .3s;
}

.a_title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: white;
  transition: .3s;
  transform: translateX(-50%);
}

.a_title:hover::after{
  width: 100%;
}

.user_link{
  margin-right: 100px;
  height: 100%;
}

.a_login{
  text-decoration: none;
  color: white;
  padding-left: 10px;
  font-size: 16px;
  position: relative;
  display: inline-block;
  transition: .3s;
}

.a_login::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: white;
  transition: .3s;
  transform: translateX(-50%);
}

.a_login:hover::after{
  width: 100%;
}

.container{
  height: 800px;
  width: 73%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; /* スクロール */
}

footer{
  height: 100px;
  width: 100%;
  color: white;
  line-height: 100px;
  background-color: #444444;
  text-align: center;
}